body{
    text-align: center;
    margin: auto;
}

#one{
    font-size: 48px;
    color: #0000ff ;
    font-weight: bolder;
    text-align: center;
    list-style-position: inside;
}

#two{
    font-size: 36px;
    color: #8a2ba3;
    font-weight: bold;
}

#three{
    font-size: 24px;
    color: white;
    font-weight: lighter;
}

#cinnabon{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    font-size: 24px;
    background-color: black;
    text-align: center;
}

#cheesecake{
    color: white;
    font-size: 24px;
    background-color: black;
    text-align: center;

}

#tater{
    color: white;
    font-size: 24px;
    background-color: black;
    text-align: center;
}

#img{
    display: block;
    margin: auto;
}

.head{
    text-align: center;
    margin: auto;
}

ul{
    text-align: center;
    list-style-position: inside;
}

ol{
    text-align: center;
    list-style-position: inside;
}

